.movie-card {
  width: 200px;
  height: 50px;
  margin: 5px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 5px 20px 5px rgba(2, 0, 0, 0.09);
  border-radius: 10px;
}
  
.movie-card:hover {
    background-color: #e0e0e0;
}
  